PyQt6

pyqt6-tools

requests

schedule

plyer

pystray

Pillow

psutil

pyautogui

opencv-python

numpy

ultralytics

easyocr

ollama

python-dotenv

pyttsx3

speechrecognition

pyaudio

beautifulsoup4

feedparser

newspaper3k

lxml

transformers

torch

sentence-transformers